<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Study Abroad Survey{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>


    {% block extra_head %}{% endblock %}
</head>
<body>
    
    <header>
        <h1> <i class="fa-solid fa-plane plane"></i>  Study Abroad Survey</h1>
        <p><strong>The international student experience survey.</strong></p>
    </header>
    
    <div class="progress-container">
        <div class="progress-bar">
            <div class="progress-step">
                <div class="step-circle {% if step >= 1 %}{% if step == 1 %}active{% else %}completed{% endif %}{% endif %}">1</div>
                <span class="step-label {% if step == 1 %}active{% endif %}">{{step1_label|default("Consent") }}</span>
            </div>
            <div class="progress-step">
                <div class="step-circle {% if step >= 2 %}{% if step == 2 %}active{% else %}completed{% endif %}{% endif %}">2</div>
                <span class="step-label {% if step == 2 %}active{% endif %}">Survey</span>
            </div>
            <div class="progress-step">
                <div class="step-circle {% if step >= 3 %}active{% endif %}">3</div>
                <span class="step-label {% if step == 3 %}active{% endif %}">Complete</span>
            </div>
        </div>
    </div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>